body {
    margin: 0;
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

header {
    height: 48px;
    min-width: 100vw;
    padding: 6px;
    display: flex;
}

header div {
    display: flex;
    width: 50%;
    margin: auto 10px;
}

header div a{
    margin: auto 5px;
    padding: 5px;
    display: block;
    font-family: arial, sans-serif;
}

header div svg {
    height: 24px;
    width: 24px;
    padding: 12px !important;
}

header img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

header div.nav-left{
    font-size: 14px;
    justify-content: left;
}


header div.nav-right{
    font-size: 13px;
    justify-content: right;
}


#main-logo {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    min-height: 92px;
    max-height: 290px;
    justify-content: flex-end;
}


#search-form {
    display: flex;
    flex-direction: column;
    text-align: center; 
    align-items: center;
    padding-top: 26px;
}

#search-outline {
    width: auto;
    max-width: 584px;
    height: 44px;
    padding: 5px 8px 0 16px;
    border: 1px solid #dfe1e5;
    border-radius: 24px; 
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

#searchbar {
    border: none;
}   

#main-logo img {
    width: 272px;
    height: 92px;
    object-fit: cover;
}

footer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

footer div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    font-size: 14px;
    background-color: rgb(34, 34, 34);
}

footer div a {
    padding: 15px;
    color: grey;
}